
$border_color: #d3d3d3; // all borders in one color
$header_color1: #8A8A8A; // starting color in gradient
$header_color2: #595958; // last color in gradient and bottom-border color
$even_row_color: #b2b2b2;
$odd_row_color: #c8c8c8;
$header_font_color: #E2E2E2;
$row_font_color: #656565;
$row_highlight_color: #9c9c9c;
$hightlight_font_color: #484848;

table.foram-table {
  margin: 25px 10px;
  border-collapse: collapse;
  border: 1px solid $border_color;
  border-bottom: 2px solid $header_color2;
  width: calc(100% - 20px);

  tbody {

    th, td {
      color: $row_font_color;
      border: 1px solid $border_color;
      padding: 14px 30px;
      border-collapse: collapse;
      text-align: center;
      cursor: default;
    }

    tr {
      background: $even_row_color;

      &.ui-selecting {
        background: #60461e;
        td {
          color: white;
        }
      }
      &.ui-selected {
        background: #ffdfaa;
      }
    }

    th {
      color: $header_font_color;
      text-transform: uppercase;
      font-size: 13px;
      &.last {
        border-right: none;
      }
    }
  }
}

#options {
  height: 25px;
  width: 120px;
  background: rgb(96, 70, 30);
  position: fixed;
  display: none;
  text-align: center;
  color: white;
  cursor: pointer;
}
