#WebGL-output {
  text-align: center;
  canvas {
    border: 2px solid #1a1a1a;
  }
}
.toolbar {
  h2 {
    margin: 10px 0 0 20px;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
  }

  .toolbar-option {
    display: inline-block;
    width: 11%;
    margin: 10px 1.5%;
  }
}

