// bower:scss
// endbower
$standard-menu-color: #434343;
$standard-light-white-font: #fdffc3;
$standard-light-menu: #717171;
$standard-baige-light: #d0b149;

@import "sidebar";
@import "foram_table";
@import "foram_visualisation";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body,html {
  padding: 0;
  height: auto !important;
}

.container {
  margin-left: 190px;

  @media screen and (max-width: 900px){
    margin-left: 135px;
  }

  @media screen and (max-width: 670px){
    margin-left: 40px;
  }
}
