<div class="password-editor">
  <div class="label-element" ng-click="activateEditor()">
    <span ng-show="value">*********</span>
  </div>
  <div class="editor-element">
    <error class="error-element"></error>
    <form ng-submit="savePassword()">
      <div class="input-field">
        <input placeholder="Password" type="password" ng-value="value" class="password-element"></input>
      </div>
      <div class="input-field">
        <input placeholder="Confirmation" type="password" class="confirmation-element"></input>
      </div>
      <button class="button tiny">Save</button>
      <button class="button tiny" ng-click="deactivateEditor()">Cancel</button>
    </form>
  </div>
</div>
