.button-row {
  @include button-group-container;

  margin: 10px 0px;

  & > li {
    @include button-group-style();
  }

  .button {
    margin-right: 5px;
  }
}

.filters-button {
  li {
    .button {
      font-size: 15px;
      padding: 10px;
    }
  }
}

.arrows {

  text-align: center;

  li {

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    vertical-align: middle;

    &.input {
      margin: -20px 5px 0;
      text-align: center;
    }

    button {
      padding: 5px 10px;
    }

    input {
      margin-bottom: 0;
    }
  }
}
