label.error {
  input {
    border-color: red !important;
  }
}


.display-hosts {
  width: 100%;

  input {
    margin: 0;
  }
}


button {
  &.center {
    margin: 0 auto 1rem;
    display: block;
  }
}

.disabled {
  pointer-events: none;
}

.simulation-picker {
  display: inline-block;
  width: 25%;
  margin: 0 10px 5px;
}

#used-name {
  width: auto;
  display: inline-block;
}

.filters-name {
  .filter-name {
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid #333;
    color: #333;
  }
  .button {
    padding: 9px 10px;
  }
}
