.no-bullets {
  list-style: none;
  margin-left: 0px;
}

.filters-list {

  border: 2px solid #d2d2d2;

  li:nth-child(2) {
    background-color: #d2d2d2;
  }

  li.filter-item {
    display: inline-block;
    padding: 0.5rem 0.625rem;

    .fa-remove {
      color: red;
    }
  }
}

ul.visibility-list {
  list-style: none;

  .visible-column {
    background: #ddd none repeat scroll 0 0;
    border-radius: 5px;
    color: black;
    display: inline-block;
    margin: 0.5% 1%;
    text-align: center;
    width: 48%;

    input {
      margin-left: 5px;
      margin-bottom: 7px;
    }
  }
}
