$selecting-color: #ffdfaa;
$selected-color: #ffdfaa;

.no-border {
  border: none;
}

.table-responsive {
  overflow-x: auto;
}

.selectable {
  tr {
    &.ui-selecting {
      background: $selecting-color;
    }

    &.ui-selected {
      background: $selected-color;
    }
  }
}

.tabs {

  dd {

    border: 2px solid #efefef;

    &:hover {
      border: 2px solid #e1e1e1;
    }

    &.active {
      border: 2px solid #333;
      border-bottom: none;
    }

    &:not(.active){
      border-bottom: none;
    }
  }
}

div.tabs-content {

  label {
    color: #222;
    font-size: 1rem;
  }

  border: 2px solid #333;

  .display-settings {

    width: 100%;

    tr td input {
      margin: 0;
    }
  }
}

#hosts-table tr td, #hosts-table tr th {
  .fa.fa-remove, .fa.fa-plus {
    cursor: pointer;
  }
}

#database-table tr th, #database-table tr td {

  text-align: center;

  .fa.fa-remove {
    cursor: pointer;
  }

  button {
    margin: 0 auto;
  }
}

#forams-table tr th, #forams-table tr td {
  text-align: center;
  white-space: nowrap;
  border: 1px solid black;
  cursor: pointer;
}

#forams-table tr td {
  border-color: #d2d2d2;

}

#forams-table th .fa-chevron-circle-down, #forams-table th .fa-chevron-circle-up {
  display: none;
}

#forams-table th.asc .fa-chevron-circle-down, #forams-table th.desc .fa-chevron-circle-up {
  display: initial;
}

#forams-table th.asc .fa-chevron-circle-up, #forams-table th.desc .fa-chevron-circle-down {
  display: none;
}
