<div ng-show="loader" class="loader">
  <div class="spinner-container">
    <span class="fa fa-spin fa-spinner fa-5x"></span>
  </div>
</div>

<div class="row" ng-cloak>
  <div class="large-12 columns">
    <h2 class="main-header inline">Death Map</h2>

    <select class="simulation-picker" id="format-param" ng-model="simulationStart">
      <option value="" disabled selected>Select simulation start</option>
      <option ng-repeat="simulation in availableSimulations">{{simulation}}</option>
    </select>

    <div>
      <button ng-click="swapType()" class="button change-type">{{changeTypeText()}}</button>
    </div>
    <ul class="button-row arrows">
      <li>
        <button id="playAnimation"><span class="fa-play fa"></span></button>
      </li>
      <li class="input">
        <input type="number" ng-model="animationSpeed" step="any">
      </li>
      <li>
        <button id="pauseAnimation"><span class="fa-pause fa"></span></button>
      </li>
      </br>
      <li>
        <button id="startArrow"><span class="fa-fast-backward fa"></span></button>
      </li>
      <li>
        <button id="fastLeftArrow"><span class="fa-backward fa"></span></button>
      </li>
      <li>
        <button id="leftArrow"><span class="fa-chevron-left fa"></span></button>
      </li>
      <li class="input">
        <input type="number" name="input" id="zInput">
      </li>
      <li>
        <button id="rightArrow"><span class="fa-chevron-right fa"></span></button>
      </li>
      <li>
        <button id="fastRightArrow"><span class="fa-forward fa"></span></button>
      </li>
      <li>
        <button id="endArrow"><span class="fa-fast-forward fa"></span></button>
      </li>
    </ul>
    <p id="chart">
      <span id="axis-title">{{zAxis}}</span>
    </p>
  </div>
</div>
