<h1 class="main-section-header">
  Chart
</h1>

<section id="charts-section">

  <div class="row chart-container" style="height: 500px">
    <highchart id="chart1" config="chart" class="span10"></highchart>
  </div>
  <div class="chart-options">
    <div class="row">
      <div class="large-3 columns">
        <button class="chart-options-button" ng-click="chartEditingMode = !chartEditingMode">
          <span>Edit</span>
          <span class="fa fa-chevron-{{chartEditingModeStatus}}"></span>
        </button>
      </div>
    </div>
    <div class="options-list" ng-show="chartEditingMode">
      <div class="row">
        <div class="small-4 columns" >
          <span class="small-6 columns">Color of</span>
          <select class="color-selector small-6 columns" ng-model="currentSerie">
            <option type="text" class="attribute-option" ng-repeat="serie in chart.series track by $index" value="{{$index}}"> {{serie.name}}</option>
          </select>
        </div>
        <div class="small-8 columns">
            <input colorpicker ng-model="currentColor" type="text">
        </div>
      </div>
      <div class="row">
        <span class="small-4 columns">Title</span>
        <input class="small-8 columns" ng-model="chart.title.text">
      </div>
      <div class="row">
        <span class="small-12 columns">Series</span>
        <input class="small-{{10/chart.series.length}}" ng-repeat="serie in chart.series track by $index" ng-model="serie.name">
      </div>
    </div>
  </div>
</section>
