<h3>Create new filter</h3>

<div class="row">
  <div class="large-12 columns">
    <label for="filter-param">Filter parameter</label>
    <select id="filter-param" ng-model="newFilter.param">
      <option ng-repeat="param in availableFilterParams">{{param}}</option>
    </select>
  </div>
</div>

<div class="row" ng-show="stats != undefined">
  <div class="large-12 columns">
    <label>Parameter extreme values in database</label>
    <div class="large-6 columns">
      Min: {{ stats.min | number:precision }}
    </div>
    <div class="large-6 columns">
      Max: {{ stats.max | number:precision }}
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <label for="min-value">Min value</label>
    <input type="number" id="min-value" step="any" ng-model="newFilter.min" max="{{newFilter.max}}"/>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <label for="max-value">Max value</label>
    <input type="number" id="max-value" step="any" ng-model="newFilter.max" min="{{newFilter.min}}"/>
  </div>
</div>

<div class="clearfix">
  <ul class="button-row right">
    <li>
      <button ng-click="cancel()" class="button secondary">Cancel</button>
    </li>

    <li>
      <button ng-click="createFilter()" class="button">Create filter</button>
    </li>
  </ul>
</div>
