<div ng-show="loader" class="loader">
  <div class="spinner-container">
    <span class="fa fa-spin fa-spinner fa-5x"></span>
  </div>
</div>

<div class="row" ng-cloak>
  <div class="large-12 columns">
    <h2 class="main-header inline">Browser</h2>

    <select class="simulation-picker" id="format-param" ng-model="simulationStart">
      <option value="" disabled selected>Select simulation start</option>
      <option ng-repeat="simulation in availableSimulations" value="{{simulation}}">{{simulation | date:'yyyy-MM-dd HH:mm:ss'}}</option>
    </select>

    <accordion close-others="false">
      <accordion-group ng-cloak is-open="true">
        <accordion-heading id="filtersAcc">
          Filters <span class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></span>
        </accordion-heading>
        <ul class="button-row filters-button">
          <li>
            <button class="button success" ng-click="open()"><span class="fa fa-plus-square"></span> New filter </button>
          </li>
          <li>
            <button class="button primary" ng-click="clearFilters()"><span class="fa fa-eraser"></span> Clear filters</button>
          </li>
          <li>
            <button class="button primary" ng-click="loadFilters()"><span class="fa fa-share"></span> Load set</button>
          </li>
          <li>
            <button class="button primary" ng-click="saveFiltersSet()" ng-disabled="form.$invalid"><span class="fa fa-floppy-o"></span> Save set as </button>
          </li>
          <li>
            <button class="button primary" ng-click="updateFiltersSet()" ng-show="loadedFilterSet._id != undefined" ng-disabled="form.$invalid"><span class="fa fa-repeat"></span> Save set </button>
          </li>
          <li>
            <button class="button alert" ng-click="deleteFiltersSet()" ng-show="loadedFilterSet._id != undefined"><span class="fa fa-trash"></span> Delete set</button>
          </li>
        </ul>
        <div class="row">
          <div class="large-2 columns">
            <form name="nameForm" class="filters-name">
              <span class='filter-name' ng-hide="editName" ng-click="editName = !editName">{{loadedFilterSet.name}}</span>
              <input id="used-name" ng-model="loadedFilterSet.name" ng-show="editName" required/>
              <span class="button primary" ng-show="editName" ng-click="editName = !editName"><span class="fa fa-check"></span></span>
            </form>
          </div>
        </div>
        <div class="panel" ng-show="filters.length">
          <ul class="large-block-grid-1 filters-list">
            <li ng-repeat="filter in filters" class="filter-item">
              <div class="row">
                <div class="small-12 columns filter">
                  <strong>{{filter.param}}</strong>

                  <span ng-show="filter.min != undefined">from</span>
                  <strong>{{filter.min}}</strong>

                  <span ng-show="filter.max != undefined">to</span>
                  <strong>{{filter.max}}</strong>
                  <span class="edit-group">
                    <a ng-click="editFilter($index)"><span class="fa fa-pencil"></span></a>
                    <a ng-click="deleteFilter($index)"><span class="fa fa-remove"></span></a>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <input type="checkbox" id="haploid-value" name="gender" ng-model="constantFilters.is_haploid" checked/>
            <label for="haploid-value">Haploid</label>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <input type="checkbox" id="diploid-value" name="gender" ng-model="constantFilters.is_diploid" checked/>
            <label for="diploid-value">Diploid</label>
          </div>
        </div>

      </accordion-group>
      <accordion-group heading="Column visibility" ng-cloak>
        <ul class="visibility-list">
          <li ng-repeat="key in displayAttributes" ng-if="key != '_id' && key != 'foram_id'" class="visible-column">
            <span class="column-visible">{{key}}</span>
            <input type="checkbox" ng-init="visibility[key]=true" ng-model="visibility[key]" ng-click="saveVisibility()">
          </li>
        </ul>
      </accordion-group>
    </accordion>

    <ul class="button-row filters-button">
      <li>
        <button ng-click="filterData()" class="button"><span class="fa fa-filter"></span> Filter </button>
      </li>

      <li>
        <button ng-click="tree()" class="button"><span class="fa fa-sitemap"></span> Descendants tree</button>
      </li>

      <li>
        <button ng-click="visualize()" class="button"><span class="fa fa-cube"></span> Visualize </button>
      </li>

      <li>
        <button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" dropdown-toggle="#drop2" class="button">Generate charts <span class="fa fa-chevron-down"></span></button>
        <ul id="drop2" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a ng-click="deathBubbleMap()">Death Map</a></li>
          <li><a ng-click="death3DMap()">3D Death Map</a></li>
          <li><a ng-click="generateChart()">Gene Chart</a></li>
        </ul>
      </li>

      <li>
        <button ng-click="showForamGallery()" class="button"><span class="fa fa-photo"></span> Gallery</button>
      </li>

      <li>
        <button ng-click="download()" class="button"><span class="fa fa-download"></span> Download </button>
      </li>
    </ul>

    <div class="table-responsive" id="forams-table" ng-cloak>
      <div>{{numberOfForams}} forams found</div>
      <table class="selectable no-border">
        <thead>
          <th ng-repeat="key in displayAttributes" ng-if="key != '_id' && key != 'foram_id'" ng-click="switchSort(key,$event)" ng-show="visibility[key]">
            <span>{{key | checkName:mappings}}</span>
            <span class="fa fa-chevron-circle-down"></span>
            <span class="fa fa-chevron-circle-up"></span>
          </th>
        </thead>

        <tbody id="selectable">
          <tr ng-repeat="foram in forams" data-index="{{$index}}">
            <td ng-repeat="key in displayAttributes" ng-if="key != '_id' && key != 'foram_id'" ng-show="visibility[key]">
              <span ng-show="foram[key] != undefined">{{foram[key]}}</span>
              <span ng-show="foram.genotype[key] != undefined">{{foram.genotype[key].effective | number:precision}}</span>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    <div ng-show="pagination.pageCount() > 1" ng-cloak>
      <ul class="pagination">
        <li ng-class="pagination.prevPageDisabled()">
          <a href ng-click="pagination.firstPage()">« First</a>
        </li>
        <li ng-class="pagination.prevPageDisabled()">
          <a href ng-click="pagination.prevPage()">« Prev</a>
        </li>

        <li ng-repeat="n in pagination.range()" ng-class="{active: n == currentPage}" ng-click="pagination.setPage(n)">
          <a>{{n}}</a>
        </li>

        <li ng-class="pagination.nextPageDisabled()">
          <a href ng-click="pagination.nextPage()">Next »</a>
        </li>
        <li ng-class="pagination.nextPageDisabled()">
          <a href ng-click="pagination.lastPage()">Last »</a>
        </li>
      </ul>
    </div>
  </div>
</div>
