<div class="row">
  <div class="large-12 columns">
    <h2 class="main-header">Login</h2>

    <form name="form" ng-submit="login()">
      <div class="row" ng-cloak>
        <div class="large-4 columns">
          <label for="email" ng-class="{ error: (form.email.$dirty && form.email.$error.required) || (form.email.$error.email && form.email.$touched)}">
            Email
            <input type="email" name="email" id="email" class="form-control" ng-model="email" required />
          </label>
          <div role="alert">
            <span class="error" ng-show="form.email.$touched && form.email.$error.email">
              Not valid email!
            </span>
            <span class="error" ng-show="form.email.$dirty && form.email.$error.required">
              Email is required!
            </span>
          </div>
        </div>
      </div>

      <div class="row" ng-cloak>
        <div class="large-4 columns">
          <label for="password" ng-class="{ error: form.password.$dirty && form.password.$error.required }">Password
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
          </label>
          <div role="alert">
            <span class="error" ng-show="form.password.$dirty && form.password.$error.required">
              Password is required!
            </span>
          </div>
        </div>
      </div>

      <ul class="button-row" ng-cloak>
        <li>
          <button type="submit" ng-class="{disabled: (form.$invalid || loader)}"  class="button">
            <i class="fa fa-spinner fa-spin" ng-show="loader"></i>
            <span ng-hide="loader">Sign in</span>
          </button>
        </li>

        <li>
          <a href="#/register" class="button secondary">Sign up</a>
        </li>
      </ul>
    </form>
  </div>
</div>
