<div class="custom-navbar">
  <header>
    <span class="fa fa-{{menu.icon}}"></span>
    <a href="#/" class="smartHide">{{menu.name}}</a>
  </header>
  <ul class="side-nav">
    <li ng-repeat="position in menu.list" ng-click="$parent.goTo(position.args,'menu-option')" class="menu-option" id="{{position.args}}">
      <div class="menu-position">
        <span class="fa fa-fw fa-{{position.icon}}"></span>
        <span class="text smartHide">{{position.name}}</span>
      </div>
    </li>
    <li class="menu-option ng-scope" ng-show="!menu.isCurrentUser" ng-click="$parent.goTo('/login')">
      <div class="menu-position">
        <span class="fa fa-fw fa-sign-in"></span>
        Login
      </div>
    </li>
  </ul>
</div>
