<div class="row">
  <div class="large-12 columns" ng-cloak>
    <h2 class="main-header">Settings</h2>

    <tabset ng-cloak>
      <tab active="direct" ng-cloak>
        <tab-heading>
          Profile
        </tab-heading>
        <div class="small-12 medium-8 medium-offset-2 columns" ng-cloak>
          <form name="userData">
            <div class="row">
              <div class="small-12 columns">
                <button ng-class="{disabled: (userData.$invalid || user.password != user.password_confirmation || loader)}" ng-click="saveUserData(user)" class="button small center">
                  <i class="fa fa-spinner fa-spin" ng-show="loader"></i>
                  <span ng-hide="loader">Save</span>
                </button>
              </div>
            </div>
            <div class="row">
              <label for="user-email" ng-class="{error: userData.user_mail.$error.email}">E-mail
                <input id="user-email" type="email" name="user_mail" ng-model="user.email">
              </label>
              <div role="alert">
                  <span class="error" ng-show="userData.user_mail.$error.email">
                    Not valid email!
                  </span>
              </div>
              <label for="user-name">Name
                <input id="user-name" type="text" name="user_name" ng-model="user.username">
              </label>
              <label for="new-password" ng-class="{error: userData.new_password.$invalid}">New password
                <input id="new-password" type="password" ng-minlength="6" name="new_password" ng-model="user.password">
              </label>
              <div role="alert">
                  <span class="error" ng-show="userData.new_password.$error.minlength">
                    Password is too short!
                  </span>
              </div>
              <label for="new-password-confirm" ng-class="{error: user.password != user.password_confirmation}">New password confirmation
                <input id="new-password-confirm" type="password" name="new_password_confirm" ng-model="user.password_confirmation">
              </label>
              <div role="alert">
                  <span class="error" ng-show="user.password != user.password_confirmation">
                    Passwords don't match!
                  </span>
              </div>
            </div>
          </form>
        </div>
      </tab>

      <tab ng-cloak>
        <tab-heading>
          Display
        </tab-heading>
        <div class="small-12 medium-8 medium-offset-2 columns">
          <form name="userSettings">
            <div class="row">
              <div class="small-12 columns">
                <button ng-click="saveSettings(settings)" class="button small center" ng-class="{disabled: userSettings.$invalid}">
                  <i class="fa fa-spinner fa-spin" ng-show="loader"></i>
                  <span ng-hide="loader">Save</span></button>
              </div>
            </div>
            <div class="row">
              <label for="precision-param" ng-class="{error: userSettings.precision.$invalid}">Precision
                <input id="precision-param" type="number" min="0" max="16" name="precision" ng-model="settings.number_precision">
              </label>
              <div role="alert">
                  <span class="error" ng-show="userSettings.precision.$invalid">
                    Precision should be an integer between 0 and 16!
                  </span>
              </div>
            </div>
            <div class="row">
              <label for="tree-level-param" ng-class="{error: userSettings.level.$invalid}">Tree Level
                <input id="tree-level-param" type="number" min="0" max="16" name="level" ng-model="settings.tree_level">
              </label>
              <div role="alert">
                  <span class="error" ng-show="userSettings.level.$invalid">
                    Tree level should be an integer between 0 and 16!
                  </span>
              </div>
            </div>
            <div class="row">
              <label for="per-page-param" ng-class="{error: userSettings.page.$invalid}">Forams per page
                <input id="per-page-param" type="number" min="0" name="page" ng-model="settings.per_page">
              </label>
              <div role="alert">
                  <span class="error" ng-show="userSettings.page.$invalid">
                    Number of forams per page should be an integer larger then 0!
                  </span>
              </div>
            </div>
            <div class="row">
              <caption>Genes display</caption>
              <table class="display-settings">
                <tr>
                  <th>Gene</th>
                  <th>Display name</th>
                </tr>
                <tr ng-repeat="gene in settings.mappings">
                  <td>{{gene.name}}</td>
                  <td>
                    <input type="text" ng-model="gene.display">
                  </td>
                </tr>
              </table>
            </div>
          </form>
        </div>
        <div class="columns clear-fix"></div>
      </tab>

      <tab active="redirect" ng-cloak>
        <tab-heading>
          Database
        </tab-heading>
        <div class="small-12 medium-8 medium-offset-2 columns">
          <form name="database">
            <div class="row">
              <div class="small-12 columns">
                <button ng-click="editDatabase()" class="button small center">
                  New
                </button>
              </div>
            </div>
            <div class="row">
              <label for="database-table">Databases</label>
              <table id="database-table" class="display-hosts">
                <tr>
                  <th>Name</th>
                  <th>Database</th>
                  <th colspan="3">Actions</th>
                </tr>
                <tr ng-repeat="database in databases">
                  <td>{{database.name}}</td>
                  <td>{{database.database}}</td>
                  <td>
                    <button ng-click="enableDatabase(database)" class="button small center success" ng-hide="database.active">
                      Enable
                    </button>
                    <button ng-click="disableDatabase(database)" class="button small center alert" ng-show="database.active">
                      Disable
                    </button>
                  </td>
                  <td>
                    <button ng-click="editDatabase(database)" class="button small center">Edit</button>
                  </td>
                  <td>
                    <i class="fa fa-remove fa-2x" ng-click="deleteDatabase(database)"></i>
                  </td>
                </tr>
              </table>
            </div>
          </form>

        </div>
      </tab>
    </tabset>
  </div>
</div>
