<accordion class="toolbar" close-others="false">
  <accordion-group heading="Genotype" class="folder">
  </accordion-group>

  <accordion-group heading="Structure analyzer" class="folder">
    <ul class="folder-items">
      <li class="field">
        <div class="property-name">
          <span>Number of chambers:</span>
        </div>

        <input ng-model="options.numChambvers" type="number" min="0" max="100" class="field"/>
      </li>

      <li class="action">
        <a ng-click="simulate()" class="property-name">
          Simulate
        </a>
      </li>

      <li class="action">
        <a ng-click="evolve()" class="property-name">
          Evolve
        </a>
      </li>

      <li class="action">
        <a ng-click="regress()" class="property-name">
          Regress
        </a>
      </li>

      <li class="action">
        <a ng-click="toggleCentroidsLine()" class="property-name">
          Centroids Line
        </a>
      </li>

      <li class="action">
        <a ng-click="toggleChambers()" class="property-name">
          Toggle chambers
        </a>
      </li>
    </ul>
  </accordion-group>

  <accordion-group heading="Material" class="folder">
    <ul class="folder-items">
      <li class="field">
        <div class="property-name">
          <span>Opacity: {{options.opacity}}</span>
        </div>

        <input ng-change="applyOpacity()" ng-model="options.opacity" type="range" min="0" max="1" step="0.01">
      </li>
    </ul>
  </accordion-group>
</accordion>
