<accordion class="toolbar" close-others="false">
  <accordion-group heading="Genotype" class="folder">
    <ul class="folder-items">
      <li class="field">
        <div class="property-name">
          <span>Phi:</span>
        </div>

        <input ng-model="genotype.phi" type="number" min="0" step="0.01"/>
      </li>

      <li class="field">
        <div class="property-name">
          <span>Beta:</span>
        </div>

        <input ng-model="genotype.beta" type="number" min="0" step="0.01"/>
      </li>

      <li class="field">
        <div class="property-name">
          <span>Growth factor:</span>
        </div>

        <input ng-model="genotype.growthFactor" type="number" min="0" max="2" step="0.01"/>
      </li>

      <li class="field">
        <div class="property-name">
          <span>Translation factor:</span>
        </div>

        <input ng-model="genotype.translationFactor" type="number" min="0" max="2" step="0.01"/>
      </li>

      <li class="field">
        <div class="property-name">
          <span>Wall thickness factor:</span>
        </div>

        <input ng-model="genotype.wallThicknessFactor" type="number" min="0" max="2" step="0.01"/>
      </li>
    </ul>
  </accordion-group>

  <accordion-group heading="Structure analyzer" class="folder">
    <ul class="folder-items">
      <li class="field">
        <div class="property-name">
          <span>Number of chambers:</span>
        </div>

        <input ng-model="options.numChambvers" type="number" min="0" max="100"/>
      </li>

      <li class="action">
        <a ng-click="simulate()" class="property-name">
          Simulate
        </a>
      </li>

      <li class="action">
        <a ng-click="evolve()" class="property-name">
          Evolve
        </a>
      </li>

      <li class="action">
        <a ng-click="regress()" class="property-name">
          Regress
        </a>
      </li>

      <li class="action">
        <a ng-click="toggleCentroidsPath()" class="property-name">
          Centroids path
        </a>
      </li>

      <li class="action">
        <a ng-click="toggleAperturesPath()" class="property-name">
          Apertures path
        </a>
      </li>

      <li class="action">
        <a ng-click="toggleChambers()" class="property-name">
          Toggle chambers
        </a>
      </li>
    </ul>
  </accordion-group>

  <accordion-group heading="Material" class="folder">
    <ul class="folder-items">
      <li class="field">
        <div class="property-name">
          <span>Opacity: {{options.opacity}}</span>
        </div>

        <input ng-change="applyOpacity()" ng-model="options.opacity" type="range" min="0" max="1" step="0.01">
      </li>
    </ul>
  </accordion-group>
</accordion>
