<div ng-show="loader" class="loader">
  <div class="spinner-container">
    <span class="fa fa-spin fa-spinner fa-5x"></span>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2 class="main-header inline">Descendants Tree</h2>

    <div id="container"></div>
    <div id="tree-tooltip">
      <div id="tooltip-visualization"></div>
      <div id="tooltip-params"></div>
      <button class="button" ng-click="goToVisualization()">Visualize</button>
    </div>
  </div>
</div>
